# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.tmp

# Editor directories and files
.vscode/

# terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.tflint.hcl
